
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="sidebar">
		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-id-card"></i>
				</div>
				<div class="sidebar-brand-text mx-3">受講管理システム</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Nav Item -->
			<li class="nav-item active"><a class="nav-link pt-2"
				th:href="@{/attendance/hold-lesson-index}"> <i class="fas fa-user"></i>
					<span>受講登録</span>
			</a></li>

<!--
			<li class="nav-item active"><a class="nav-link pt-2"
				th:href="@{/nyuka}"> <i class="fas fa-user"></i> <span>受講予定一覧</span>
			</a></li>
-->
			<li class="nav-item active"><a class="nav-link pt-2"
				th:href="@{/attendance/history}"> <i class="fas fa-user"></i> <span>受講履歴表示</span>
			</a></li>


			<th:block sec:authorize="hasRole('ADMIN')">
				<li class="nav-item active"><a class="nav-link pt-2"
					th:href="@{/register}"> <i class="fas fa-table"></i> <span>従業員登録</span>
				</a></li>
			</th:block>

			<th:block sec:authorize="hasRole('ADMIN')">
				<li class="nav-item active"><a class="nav-link pt-2"
					th:href="@{/admin/lesson/add}"> <i class="fas fa-table"></i> <span>講座マスタ登録</span>
				</a></li>
			</th:block>

			<th:block sec:authorize="hasRole('ADMIN')">
				<li class="nav-item active"><a class="nav-link pt-2"
					th:href="@{/admin/lesson/index}"> <i class="fas fa-table"></i>
						<span>講座管理</span>
				</a></li>
			</th:block>

<!--
			<th:block sec:authorize="hasRole('ADMIN')">
				<li class="nav-item active"><a class="nav-link pt-2"
					th:href="@{/admin/list}"> <i class="fas fa-table"></i> <span>受講履歴管理</span>
				</a></li>
			</th:block>
			-->


			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Logout -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/logout}"> <i class="fas fa-sign-out-alt"></i> <span>ログアウト</span>
			</a></li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle">
				</button>
			</div>

		</ul>
		<!-- End of Sidebar -->
	</th:block>
</body>
</html>