<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">


					<!-- DataTables -->
					<div class="card shadow my-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">講座マスタ講座一覧</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">



								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>名前</th>

											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:object="${holdLesson}">
											<td th:text="*{lesson.name}"></td>
											<td th:text="*{pk.holdTimes}"></td>
											<!--
											<td><a
												th:href="@{/attendance/hold-lesson/{lesson-id}/{hold-times}(lesson-id=*{pk.lessonId}, hold-times=*{pk.holdTimes})}"
												class="btn btn-primary btn-icon-split"> <span
													class="icon text-white-50"> <i class="fas fa-trash"></i>
												</span> <span class="text">参加する</span>
											</a></td>
											-->
											<td>
											<form th:action="@{/attendance/hold-lesson/{lesson-id}/{hold-times}(lesson-id=*{pk.lessonId}, hold-times=*{pk.holdTimes})}"
												method="post">

												<!-- Divider -->
												<hr class="sidebar-divider my-4">

												<button class="btn btn-primary btn-block col-md-4">
													<i class="fas fa-edit fa-fw"></i> <span class="text">参加する</span>
												</button>
											</form>
											</td>
										</tr>
									</tbody>
								</table>

								<table class="table table-bordered">
									<thead>
										<tr>
											<th>日付</th>


											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="holdLessonDate : ${holdLesson.holdLessonDates}"
											th:object="${holdLessonDate}">
											<td th:text="*{holdDate}"></td>

										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>