<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">
					<h6 class="m-0 font-weight-bold text-primary">受講管理システム</h6>
					<div class="alert alert-success" th:if="${param.lesson-register}">
						<small>ユーザを新規登録しました</small>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>
</html>