<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">


					<!-- DataTables -->
					<div class="card shadow my-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">受講履歴(受講予定も含む)一覧</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">

								<div th:if="${attendances.size() == 0}">該当データがありません</div>

								<table class="table table-bordered"
									th:if="${attendances.size() > 0}">
									<thead>
										<tr>
											<th>講座名</th>
											<th>開催回</th>
											<th>開催日</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="attendance : ${attendances}"
											th:object="${attendance}">
											<td th:text="*{holdLesson.lesson.name}"></td>
											<td th:text="*{holdLesson.pk.holdTimes}"></td>
											<td>
												<div>
													<ul
														th:each="holdLessonDate : *{holdLesson.holdLessonDates}">
														<li th:text="${holdLessonDate.holdDate}"></li>
													</ul>

												</div>
											</td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>

					<!-- 以降がページネーション部分 -->
					<div>
						<ul>
							<li style="display: inline;"><span th:if="${page.first}">&lt;&lt;前</span>
								<a th:if="${!page.first}"
								th:href="@{/attendance/history(page = ${page.number} - 1)}">
									&lt;&lt;前 </a></li>
							<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
								style="display: inline; margin-left: 10px;"><span
								th:if="${i} == ${page.number}" th:text="${i + 1}">1</span> <a
								th:if="${i} != ${page.number}"
								th:href="@{/attendance/history(page = ${i})}"> <span
									th:text="${i+1}">1</span>
							</a></li>
							<li style="display: inline; margin-left: 10px;"><span
								th:if="${page.last}">次&gt;&gt;</span> <a th:if="${!page.last}"
								th:href="@{/attendance/history(page = (${page.number} + 1))}">
									次&gt;&gt; </a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>