<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">


					<!-- DataTables -->
					<div class="card shadow my-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">開講予定講座一覧</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">

								<div th:if="${holdLessons.size() == 0}">該当データがありません</div>

								<table class="table table-bordered"
									th:if="${holdLessons.size() > 0}">
									<thead>
										<tr>
											<th>講座名</th>
											<th>開催回</th>
											<th>開催日</th>

											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="holdLesson : ${holdLessons}"
											th:object="${holdLesson}">
											<td th:text="*{lesson.name}"></td>
											<td th:text="*{pk.holdTimes}"></td>
											<td>
											<div>
											<ul th:each="holdLessonDate : *{holdLessonDates}">
											<li th:text="${holdLessonDate.holdDate}"></li>
											</ul>

											</div>
											</td>


											<td><a
												th:href="@{/attendance/hold-lesson/{lesson-id}/{hold-times}(lesson-id=*{pk.lessonId}, hold-times=*{pk.holdTimes})}"
												class="btn btn-primary btn-icon-split"> <span
													class="icon text-white-50"> <i class="fas fa-edit"></i>
												</span> <span class="text">開催講座詳細</span>
											</a></td>

										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>